.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.page-content {
  padding: 60px 0 20px;
  background: url("../../../images/bg/admin.jpg") center center / cover no-repeat;
  flex: 1;
}

.page-header {
  display: flex;
  margin-bottom: 60px;
}

.item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
}

.form {
  margin-bottom: 30px;
}
.page-title {
  margin-right: 60px;
  font-size: 21px;
  font-weight: bold;
  color: $text-color;
}
