.hero__container {
    height: 100vh;
    padding: 60px 158px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .hero__button {
        display: flex;
    }
}