.reviews {
    height: 100vh;
    padding: 226px 0;
    background: url('~images/bg/budda.jpg') center bottom / cover no-repeat;
    .reviews__container {
        height: 100vh;
        padding: 0 160px 0 160px;
    }
}