.slider__header {
    display: flex;
    align-items: center;
    margin-bottom: 78px;
    .slider__title.section-title {
        margin-bottom: 0;
        margin-right: 8%;
        .slider__buttons {
        display: flex;
        }
    }
}
/* .slider__list {
    overflow: hidden;
    display: flex;
    .slider__item {
        flex-shrink: 0;
        width: 43%;
        margin-right: 66px;
        &:last-child {
        margin-right: 0;
        }
    }
} */
  