.slider__header {
    display: flex;
    align-items: center;
    margin-bottom: 95px;
    .slider__title.section-title {
        margin-bottom: 0;
        margin-right: 10%;
        .slider__buttons {
        display: flex;
        }
    }
}
.slider__list {
    overflow: hidden;
    display: flex;
    .slider__item {
        flex-shrink: 0;
        padding-right: 30px;
        width: 50%;
        &:last-child {
        margin-right: 0;
        }
    }
}
  