.thumbs {
}
.active {
    outline: 3px solid #f29400;
}

.thumbs__item {
    max-height: 106px;
}

.thumbs__link {
    display: block;
    height: 100%;
}

.thumbs__pic {
    width: 100%;
    object-fit: contain;
    &:hover {
        transition: .5s;
        outline: 3px solid #f29400;
    }
}