.triangles {
    position: relative;
    height: 100px;
  
    &--top {
      margin-top: -7.5%;
      height: 163px;
    }
    &--bottom {
      margin-bottom: -90px;
      height: 90px;
    }
  }
  .triangles__shape {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 50%;
    fill: #fff;
    height: 70%;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }