.userinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .userinfo__title {
        font-size: 18px;
        font-weight: 600;
        opacity: 0.5;
        width: 180px;
        text-align: center;
        line-height: 1.7;
        margin-bottom: 26px;
    }
    .userinfo__name {
        font-weight: 800;
        font-size: 72px;
        line-height: 60px;
        width: 428px;
    }
}