.works__container {
    display: flex;
    flex-direction: column;
    min-height: 734px;
    padding: 27px 160px 0;
    .works__section-title {
        margin-bottom: 78px;
    }
}
/* 
.works__content {
    display: flex;
    justify-content: space-between;
} */