script(type="text/x-template")#works-container         
  worksCurrent(@slide="slide" :currentWork="currentWork", :works="works" :currentIndex="currentIndex")

script(type="text/x-template")#works-current
  .works-preview
    .works-preview__pics(:data-slide="currentIndex+1")
      img(:src="`https://webdev-api.loftschool.com/${currentWork.photo}`").works-preview__fullpic
      .works-preview__thumbs
        worksThumbs(:currentWork="currentWork", :works="reverseWorks")
      .works-preview__btns
        worksBtns(@slide="$emit('slide', $event)")
    worksInfo(:currentWork="currentWork")

script(type="text/x-template")#works-thumbs
  ul.thumbs
    li.thumbs__item(v-for="slide in works" :key="slide.id" :class="{active: slide.id === currentWork.id}")
      a(href="#").thumbs__link
        img(:src="`https://webdev-api.loftschool.com/${slide.photo}`").thumbs__pic

script(type="text/x-template")#works-btns 
  .square-btns
    a(href="#" @click.prevent="$emit('slide', 'next')").square-btns__btn.square-btns__btn--next
    a(href="#" @click.prevent="$emit('slide', 'prev')").square-btns__btn.square-btns__btn--prev

script(type="text/x-template")#works-info
  .works-preview__info  
    worksTags(:currentWork="currentWork")
    .works-preview__title {{currentWork.title}}
    .works-preview__desc
      p {{currentWork.description}}
    a(:href="currentWork.link", target="_blank").iconed-link Посмотреть сайт

script(type="text/x-template")#works-tags
  ul.tags
    li.tags__item(v-for="tag in currentWork.techs.split(',')") 
      .tag {{tag}}
