script(type="text/x-template")#works-container         
  worksCurrent

script(type="text/x-template")#works-current
  .works-preview
    .works-preview__pics(data-slide='1')
      +image('content/slider-1.jpg', 'works-preview__fullpic')
      .works-preview__thumbs
        worksThumbs
      .works-preview__btns
        worksBtns
    worksInfo

script(type="text/x-template")#works-thumbs
  ul.thumbs
    - for (var i = 4; i > 0; i--)
      li.thumbs__item(class=`${i === 1 ? 'thumbs__item--active' : ''}`)
        a(href="#").thumbs__link
          +image(`content/slider-${i}.jpg`, 'thumbs__pic')

script(type="text/x-template")#works-btns 
  .square-btns
    a(href="#").square-btns__btn.square-btns__btn--next
    a(href="#").square-btns__btn.square-btns__btn--prev

script(type="text/x-template")#works-info
  .works-preview__info  
    worksTags
    .works-preview__title Сайт школы образования
    .works-preview__desc
      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
    a(href="#", target="_blank").iconed-link Посмотреть сайт

script(type="text/x-template")#works-tags
  - var tags = ['HTML', 'CSS', 'JavaScript'];
  ul.tags
    each item in tags
      li.tags__item 
        .tag #{item}
