extends ./main.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container
        header.header
          a(href="#").logo ВА
          nav.menu
            - let menuItems = ['Обо мне','Навыки','Работы','Отзывы']
            ul.menu__list
              each item in menuItems
                li.menu__item
                  a(href='#').menu__link #{item}
          - let socials = ['insta', 'github', 'vk', 'envelope']
          ul.socials
            each item in socials
              li.socials__item
                a(href="#").socials__link
                  +icon(item, 'social__icon')
        .userinfo
          .userinfo__title Личный сайт #[br] веб-разработчика
          .userinfo__name Владимир Астаханов
        .hero__button
          .scroll-down
            button.scroll-down__btn Скролл
            +icon('scroll', 'scroll-down__icon')
    section.about
      .container.about__container 
        .about__user  
          .user
            .user__avatar
              .user__avatar-inner 
                +image("content/user.jpg", 'user__avatar-pic')   
            .user__data  
              - 
                let userInfo = [
                  ["Проживаю:","Новосибирск"],
                  ["Возраст:","27 лет"],
                  ["Родился:","1 января 1991"],
                ];

              table.user__table  
                each item in userInfo
                  tr.user__data-row 
                    td.user__data-title #{item[0]} 
                    td.user__data-content #{item[1]}
        .about__content 
          .about__desc Привет, меня зовут
          .about__title Владимир Астаханов
          .about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!